.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

body {
  color: #1d1c1a;
  font-family: Ppneuemontreal, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: .8em;
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  margin-bottom: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all .4s;
}

a:hover {
  color: #ff4d00;
  text-decoration: none;
}

a:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #d14424;
}

a[data-wf-focus-visible] {
  outline-offset: 2px;
  outline: 2px solid #d14424;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2.2em;
}

li {
  margin-bottom: .3em;
}

strong {
  font-weight: bold;
}

.h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.row {
  flex-wrap: wrap;
  align-content: stretch;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.row.row-justify-end {
  justify-content: flex-end;
}

.row.row-justify-between {
  justify-content: space-between;
}

.row.row-align-end {
  align-items: flex-end;
}

.row.row-justify-center {
  justify-content: center;
}

.row.row-align-center {
  align-items: center;
}

.row.row-justify-around {
  justify-content: space-around;
}

.row.row-gutterless {
  margin-left: 0;
  margin-right: 0;
}

.styles__section-label {
  letter-spacing: 0;
  text-transform: none;
  border-bottom: 2px dotted #302f2c;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding-bottom: 8px;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.col {
  flex: 1;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.col.col-lg-3 {
  max-width: 25%;
  flex-basis: 25%;
}

.col.col-lg-6 {
  max-width: 50%;
  flex-basis: 50%;
}

.col.col-lg-7 {
  max-width: 58.3333%;
  flex-basis: 58.33%;
}

.col.col-lg-2 {
  max-width: 16.6667%;
  flex-basis: 16.67%;
}

.col.col-lg-5 {
  max-width: 41.6667%;
  flex-basis: 41.67%;
}

.col.col-no-gutters {
  padding-left: 0;
  padding-right: 0;
}

.col.col-lg-9 {
  max-width: 75%;
  flex-basis: 75%;
}

.col.col-lg-12 {
  max-width: 100%;
  flex-basis: 100%;
}

.col.col-lg-11 {
  max-width: 91.6667%;
  flex-basis: 91.67%;
}

.col.col-lg-8 {
  max-width: 66.6667%;
  flex-basis: 66.67%;
}

.col.col-lg-4 {
  max-width: 33.3333%;
  flex-basis: 33.33%;
}

.col.col-lg-10 {
  max-width: 83.3333%;
  flex-basis: 83.33%;
}

.col.col-lg-1 {
  max-width: 8.33333%;
  flex-basis: 8.33%;
}

.col.col-shrink {
  flex: 0 auto;
}

.col.col-lg-first {
  order: -1;
}

.col.col-lg-last {
  order: 1;
}

.h2 {
  margin-top: 0;
  margin-bottom: .3em;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1.1;
}

.styles__card-preview {
  width: 100%;
  min-height: 120px;
  text-align: center;
  border-bottom: 1px solid #1d1c1a;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.card-body {
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  position: relative;
}

.u-bg-primary {
  background-color: #d14424;
}

.u-bg-darkgray {
  background-color: #302f2c;
}

.card {
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  margin-bottom: 1em;
  display: flex;
  overflow: hidden;
}

.u-bg-black {
  background-color: #1d1c1a;
}

.btn {
  color: #fff;
  background-color: #d14424;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  padding: .7em 1.2em;
  text-decoration: none;
  transition: box-shadow .2s ease-out, border-color .2s ease-out;
  display: inline-block;
  box-shadow: inset 0 0 rgba(0, 0, 0, 0);
}

.btn:hover {
  color: #fff;
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .15);
}

.btn.cc-light {
  color: #323a45;
  background-color: #fff;
}

.btn.cc-secondary {
  color: #1d1c1a;
  background-color: rgba(0, 0, 0, 0);
  border-color: #d14424;
}

.btn.cc-secondary.cc-light {
  color: #fff;
  border-color: #fff;
}

.btn.cc-secondary.cc-light:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, .15);
}

.u-text-black {
  color: #1d1c1a;
}

.u-text-primary {
  color: #d14424;
}

.styles__visual-div {
  text-align: center;
  background-color: rgba(0, 115, 230, .1);
  border: 1px solid #0073e6;
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 16px;
  position: relative;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-visible {
  overflow: visible;
}

.u-d-none {
  display: none;
}

.input-label {
  z-index: 1;
  color: #1d1c1a;
  border-top-right-radius: 3px;
  margin-bottom: 0;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 4px;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}

.input-label.cc-static {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

.u-text-white {
  color: #fff;
}

.form-error {
  color: #e31700;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #e31700;
  margin-top: 16px;
  padding: 8px 0 0;
}

.input {
  height: 100%;
  min-height: 65px;
  color: #1d1c1a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #888680;
  border-radius: 8px;
  margin-bottom: 0;
  padding: 32px 16px 8px;
  font-size: 1rem;
  transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.input:hover, .input:focus {
  border-color: #d14424;
}

.input::-ms-input-placeholder {
  color: #888680;
}

.input::placeholder {
  color: #888680;
}

.input.cc-select {
  background-image: url('../images/arrow-black.svg');
  background-position: 98%;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 12px;
}

.input.cc-light {
  color: #fff;
}

.input-group {
  text-align: left;
  flex-direction: column;
  margin-bottom: 12px;
  padding-top: 1px;
  padding-bottom: 40px;
  padding-right: 1px;
  display: block;
  position: relative;
}

.input-group.cc-textarea {
  min-height: 140px;
}

.input-group.cc-toggle {
  margin-bottom: 8px;
  padding: 0 0 0 28px;
}

.form-success_flex {
  width: 100%;
  height: 100%;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.form {
  width: 100%;
  position: relative;
}

.form_required-note {
  font-size: .8rem;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.form-success {
  min-height: 320px;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.input-radio {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #888680;
  margin-top: 2px;
  margin-left: -28px;
  box-shadow: inset 0 0 0 3px #fff;
}

.input-radio:hover {
  background-color: #dfddd6;
  border-color: #d14424;
}

.input-radio.w--redirected-checked {
  background-color: #d14424;
  border-width: 1px;
  border-color: #d14424;
}

.input-radio.w--redirected-focus {
  box-shadow: none;
  outline-offset: 0px;
  border-color: #d14424;
  outline: 2px solid #d14424;
}

.input-radio.cc-light {
  box-shadow: inset 0 0 0 3px #302f2c;
}

.input-radio.cc-light:hover {
  background-color: #888680;
}

.input-check {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #888680;
  margin-top: 2px;
  margin-left: -28px;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.input-check:hover {
  background-color: #dfddd6;
  border-color: #d14424;
}

.input-check.w--redirected-checked {
  background-color: #d14424;
  background-size: 16px;
  border-color: #d14424;
}

.input-check.w--redirected-focus {
  box-shadow: none;
  outline-offset: 0px;
  border-color: #d14424;
  outline: 2px solid #d14424;
}

.input-check.cc-light:hover {
  background-color: #888680;
}

.u-d-block {
  display: block;
}

.paragraph-1-25 {
  font-size: 1.25rem;
}

.u-text-darkgray {
  color: #302f2c;
}

.u-d-flex {
  display: flex;
}

.u-d-flex.cc-align-center {
  align-items: center;
}

.u-sr-only {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0 solid rgba(0, 0, 0, 0);
  margin-top: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 90%;
  max-width: 400px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.u-h-100 {
  height: 100%;
}

.u-w-100 {
  width: 100%;
}

.u-aspect-1x1 {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.u-img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.u-link-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.u-z-index-1 {
  z-index: 1;
  position: relative;
}

.styles__global-embed-code {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.eyebrow {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-size: .8rem;
  font-weight: 700;
}

.u-bg-white {
  background-color: #fff;
}

.styles__row-example {
  height: 200px;
  border: 1px dashed #302f2c;
  margin-top: 4px;
  padding: 20px;
}

.styles__selector-callout {
  color: #fff;
  background-color: #0073e6;
  border-radius: 3px;
  margin-top: .1em;
  margin-bottom: .1em;
  margin-right: .2em;
  padding: .08em .6em;
  font-family: Inconsolata, monospace;
  font-size: .8rem;
  line-height: 1.7;
  display: inline-block;
  position: relative;
  top: -1px;
}

.styles__selector-callout.cc-element {
  background-color: #d13591;
}

.styles__utility-wrap {
  margin-bottom: 20px;
  padding: 1px;
}

.styles__utility-wrap.cc-margin {
  background-image: url('../images/bg-margin.svg');
  background-position: 0 0;
  background-size: 4px;
}

.styles__utility-wrap.cc-padding {
  background-image: url('../images/bg-padding.svg');
  background-position: 0 0;
  background-size: 4px;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mt-2 {
  margin-top: 2em;
}

.u-mt-3 {
  margin-top: 3em;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mt-1 {
  margin-top: 1em;
}

.u-mb-1 {
  margin-bottom: 1em;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-2 {
  margin-bottom: 2em;
}

.u-mb-3 {
  margin-bottom: 3em;
}

.u-mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mr-1 {
  margin-right: 1em;
}

.u-m-0 {
  margin: 0;
}

.u-ml-1 {
  margin-left: 1em;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-1 {
  padding-bottom: 1em;
}

.u-pb-3 {
  padding-bottom: 3em;
}

.u-pb-2 {
  padding-bottom: 2em;
}

.u-pt-1 {
  padding-top: 1em;
}

.u-pt-2 {
  padding-top: 2em;
}

.u-pt-3 {
  padding-top: 3em;
}

.u-p-1 {
  padding: 1em;
}

.u-p-0 {
  padding: 0;
}

.u-pt-0 {
  padding-top: 0;
}

.styles__nav {
  z-index: 2;
  text-transform: uppercase;
  background-color: #1d1c1a;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.styles__nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.page-wrapper {
  color: #fff;
  background-color: #101010;
  position: relative;
}

.styles__nav-link {
  color: #fff;
  letter-spacing: .03em;
  padding: .6em .8em;
  font-size: .85em;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.styles__nav-link:hover, .styles__nav-link.w--current {
  text-decoration: underline;
}

.styles__nav-link.cc-cta {
  background-color: #d14424;
  border-radius: 4px;
  margin-left: .4em;
}

.styles__nav-link.cc-cta:hover {
  background-color: #302f2c;
  text-decoration: none;
}

.styles__nav-version {
  color: #fff;
  text-transform: none;
  background-color: #d14424;
  border-radius: 4px;
  margin-left: .8em;
  padding: .35em .5em .4em;
  font-size: .7em;
  display: inline-block;
}

.styles__nav-logo {
  width: 64px;
  color: #d14424;
  line-height: .8;
}

.u-splitter {
  width: 100%;
  height: 1px;
}

.styles__card {
  background-color: rgba(0, 115, 230, .1);
  border: 1px solid #0073e6;
  border-radius: 8px;
  overflow: hidden;
}

.styles_utility-card {
  background-color: rgba(0, 115, 230, .1);
  border: 1px solid #0073e6;
  padding: 20px;
}

.styles__cover {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.styles__ncsc-logo {
  width: 32px;
  height: 22px;
  margin-right: 11px;
}

.styles__ncsc-logo-link {
  align-items: center;
  text-decoration: none;
  transition: color .3s cubic-bezier(.165, .84, .44, 1);
  display: flex;
}

.styles__ncsc-logo-link:hover {
  color: #fff;
}

.u-bg-midgray {
  background-color: #888680;
}

.u-text-midgray {
  color: #888680;
}

.u-bg-lightgray {
  background-color: #dfddd6;
}

.u-text-lightgray {
  color: #dfddd6;
}

.u-position-relative {
  position: relative;
}

.xxl {
  letter-spacing: -.02rem;
  font-size: 4.5rem;
  line-height: 1.25;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.xl {
  letter-spacing: -.02rem;
  font-size: 3.75rem;
  line-height: 1.23333;
}

.lg {
  letter-spacing: -.02rem;
  font-size: 3rem;
  line-height: 1.25;
}

.md {
  letter-spacing: -.02rem;
  font-size: 2.25rem;
  line-height: 1.22;
}

.sm {
  font-size: 1.875rem;
}

.xs {
  font-size: 1.5rem;
}

.xlp {
  font-size: 1.25rem;
}

.lp {
  font-size: 1.125rem;
}

.sp {
  font-size: .875rem;
}

.xsp {
  font-size: .75rem;
}

.ss-logo {
  height: 4rem;
}

.div-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
  display: flex;
}

.intro {
  width: 67rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1;
}

.footer {
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2% 2% 3%;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.coming {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
}

.footer-inner {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  display: flex;
}

.background {
  z-index: 1;
  width: 100svw;
  height: 100svh;
  position: fixed;
}

.orb {
  z-index: 3;
  width: 3vh;
  height: 3vh;
  background-color: #ff4d00;
  background-image: radial-gradient(circle at 0 100%, rgba(0, 0, 0, .32) 14%, rgba(48, 47, 44, 0) 57%);
  border-radius: 50rem;
  margin-bottom: 60vh;
  margin-left: 60vh;
  position: absolute;
}

.orb.cc-bottom {
  z-index: 0;
  top: auto;
  bottom: -40%;
  left: auto;
  right: -20%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  .col.col-md-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-md-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-md-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-md-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-md-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-md-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-md-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-md-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-md-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-md-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-md-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-md-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-md-first {
    order: -1;
  }

  .col.col-md-last {
    order: 1;
  }

  .h2 {
    font-size: 3.2rem;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .lp {
    font-size: 1.25em;
  }

  .ss-logo {
    order: -1;
    margin-bottom: 3rem;
  }

  .intro {
    width: auto;
    font-size: 2.5rem;
  }

  .footer {
    flex-wrap: wrap;
    padding: 2rem 2rem 3rem;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .footer-inner {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .8rem;
  }

  .h3 {
    font-size: 1.4rem;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .styles__section-label {
    padding-bottom: 10px;
  }

  .col.col-sm-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-sm-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-sm-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-sm-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-sm-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-sm-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-sm-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-sm-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-sm-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-sm-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-sm-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-sm-first {
    order: -1;
  }

  .col.col-sm-last {
    order: 1;
  }

  .h2 {
    font-size: 2.5rem;
  }

  .card-body {
    padding: 20px;
  }

  .btn {
    padding: 7px 15px;
  }

  .form-success_flex {
    max-width: 340px;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .styles__nav-link {
    text-align: left;
    padding: .6em 0;
    display: block;
  }

  .styles__nav-link.cc-cta {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  .styles__nav-link.cc-cta:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
  }

  .styles__nav-btn {
    margin-top: -2px;
    padding: 0 2px;
    font-size: 1.8rem;
    line-height: 1;
  }

  .styles__nav-btn:hover {
    background-color: #302f2c;
  }

  .styles__nav-btn.w--open {
    background-color: #302f2c;
    border-radius: 4px;
  }

  .styles__nav-menu {
    background-color: #302f2c;
    padding: 12px 5% 20px;
  }

  .styles__nav-btn-icon {
    width: 28px;
    height: 28px;
  }

  .styles__ncsc-logo {
    width: 32px;
    height: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container {
    width: 86%;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
    order: 1;
  }

  .col.col-xs-11 {
    max-width: 91.6667%;
    flex-basis: 91.67%;
  }

  .col.col-xs-6 {
    max-width: 50%;
    flex-basis: 50%;
  }

  .col.col-xs-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
  }

  .col.col-xs-4 {
    max-width: 33.3333%;
    flex-basis: 33.33%;
  }

  .col.col-xs-3 {
    max-width: 25%;
    flex-basis: 25%;
  }

  .col.col-xs-7 {
    max-width: 58.3333%;
    flex-basis: 58.33%;
  }

  .col.col-xs-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
  }

  .col.col-xs-9 {
    max-width: 75%;
    flex-basis: 75%;
  }

  .col.col-xs-2 {
    max-width: 16.6667%;
    flex-basis: 16.67%;
  }

  .col.col-xs-12 {
    max-width: 100%;
    flex-basis: 100%;
  }

  .col.col-xs-5 {
    max-width: 41.6667%;
    flex-basis: 41.67%;
  }

  .col.col-xs-1 {
    max-width: 8.33333%;
    flex-basis: 8.33%;
  }

  .col.col-xs-first {
    order: -1;
  }

  .h2 {
    font-size: 2rem;
  }

  .styles__row-example {
    height: auto;
  }

  .u-mt-0 {
    margin-top: 0;
  }

  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-m-0 {
    margin: 0;
  }

  .u-pb-0 {
    padding-bottom: 0;
  }

  .u-pt-0 {
    padding-top: 0;
  }

  .styles__nav-menu {
    padding-left: 7%;
    padding-right: 7%;
  }

  .intro {
    font-size: 1.5rem;
  }

  .coming {
    font-size: 1.15rem;
  }
}


@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ppneuemontreal';
  src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}